* {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.page {
  margin: 48px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

li {
  list-style-type: none;
  text-decoration: none;
}

/*.about-me-line {
  margin-right: 48px;
}*/

h3 span {
  text-decoration: underline;
}

h3 span:hover {
  background-color: #FE621D;
}

.about-me-section h3 {
  margin-top: 0;
}

.contact-section {
  box-sizing: border-box;
  font-size: 1.17em;
}

.contact-display {
  border: 1px solid #FE621D;
  text-align: center;
}

.contact-display a {
  word-wrap: break-word;
}

.contact-display * {
  margin: 10px 0;
}

.contact-logo img {
  width: 150px;
  height: 150px;
}

.social-network-icons a {
  font-size: 35px;
  padding: 0 10px;
}

.portfolio-overview, .project-display {
  box-sizing: border-box;
  max-width: 680px;
  min-height: 680px;
  margin: 0 auto;
  border: 1px solid #24F1EC;
}

.project-title {
  font-size: 1.17em;
}

.portfolio-item {
  text-align: center;
  /*float: left;*/
  /*width: 307px;*/
  min-height: 338px;
  box-sizing: border-box;
  border: 5px solid white;
}

.portfolio-item h3 {
  margin-top: 75px;
}

.myspace-img {
  width: 100px;
  height: 100px;
}

.viberate-img {
  width: 110px;
  height: 110px;
}

.screencapp-img {
  width: 110px;
  height: 110px;
}

.lemonadestand-img {
  width: 100px;
  height: 100px;
}

.portfolio-item:hover {
  background-color: #FE621D;
}

#screenshot {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.project-display > * {
  text-align: center;
}

.project-display > * > * {
  padding: 0;
  margin: 20px;
}

.app-links > li:first-child {
  margin-bottom: 30px;
}

.app-links > * > * { 
  padding: 10px; 
  border: 1px solid #24F1EC;
}

.app-links > * > *:hover { 
  background-color: #FE621D
}

.back-button {
  text-align: right;
}

.back-button:hover {
  background-color: #FE621D
}