* {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.page {
  margin: 48px;
}

.about-me-line {
  margin-right: 48px;
}

h3 span {
  text-decoration: underline;
}

.about-me-section h3 {
  margin-top: 0;
}

.contact-section {
  box-sizing: border-box;
  font-size: 1.17em;
}

.contact-display {
  border: 1px solid #FE621D;
}

.portfolio-overview {
  box-sizing: border-box;
  width: 616px;
  min-height: 616px;
  margin: 0 48px 0 0;
  border: 1px solid cyan;
}

.portfolio-item {
  text-align: center;
  /*float: left;*/
  /*width: 307px;*/
  min-height: 307px;
}

.myspace-overview img {
  width: 100px;
  height: 100px;
}

.viberate-overview img {
  width: 100px;
  height: 100px;
}

.screencapp-overview img {
  width: 110px;
  height: 110px;
}

.lemonadestand-overview img {
  width: 100px;
  height: 100px;
}

.portfolio-item:hover {
  background-color: #616163;
}